html{width:100%;height:100%;display:grid;place-items:center;}
body{width:100%;height:100%;display:grid;place-items:center;}
*{transition-duration:0.5s;transition-delay: 0.1s;}
*{box-sizing:border-box;}

.div{width:10em;height:10em}
.div{border:1px solid black}
.div{display:grid;place-items:center}
.imagen{position:absolute;width:100%;height:100%;}/*background-size:cover;}*/
.imagen{background-image:url("fondopc1.png");background-size:cover;}

.imagen{z-index:1}
.main{z-index:2}
.submain{z-index:3}
.loading{z-index:4}
.searching{z-index:5}
.texto{z-index:6}

.main{display:grid;place-items:center;width:80%}
.main,.submain,.loading,.searching,.texto{position:absolute}
.submain{width:80%}
.texto{width:80%}
.softmerge-inner{width:80%}
.texto{opacity:0}
div{position:absolute}
body{color:white}
.imagen{font-size:3vw}
.main{font-size:3vw}
.submain{font-size:4vw}
.loading{font-size:3vw}
.searching{font-size:4vw}
.texto{font-size:3vw}
/*.softmerge-inner{margin:2vw}*/


/*.texto{background-color:rgba(0,0,0,0.5)}*/
.softmerge-inner{margin:3vw 3vw 3vw 5vw; background-color:rgba(0,0,0,0.5)}
.sucursala,.sucursalb,.sucursalc{position:relative}
.sucursala{border:1px solid black; background-color:rgba(0,200,0,0.5);margin-top:2vw}

img{animation:mianimacion 2s linear infinite}
@keyframes mianimacion{
	0%{transform:rotate(0deg)}
	100%{transform:rotate(360deg)}
}


/*segundo computadoras*/
@media only screen and (min-width:500px){
/*	body{color:white}*/
	.imagen{background-image:url("fondocel1.png");background-size:cover;}
}
